[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
slackclient = "*"
boto3 = "*"
requests = "*"
adal = "*"
python-dotenv = "*"
azure-graphrbac = "*"

[requires]
python_version = "3.8"
